/* Css RESET */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video
	{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	line-height: 1;
}

ol,ul {
	list-style: none;
}

blockquote,q {
	quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Styling the Header */
div.header {
	background-color: #333333;
	height: 50px;
	width: 100%;
}

.header .logo {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #999;
	font-weight: bold;
	padding: 10px;
	width: 15%;
	float: left;
}

.header .messagebox {
	margin: 5px;
	background: rgb(241, 241, 241);
	height: 30px;
	text-align: center;
	margin-left: 15%;
	padding: 5px;
	border-radius: 10px 10px 10px 10px;
	float: left;
}

.header  .error_box {
	color: rgb(190, 39, 39);
}

.header .icon {
	width: 22px;
	height: 22px;
	background-repeat: no-repeat;
	display: inline-block;
	float: left;
	margin-top: 3px;
	margin-right: 3px;
}

.header .messagebox span.error_ico {
	background-image: url("../images/error_icon.png");
}

.header .info_box {
	color: rgb(69, 139, 72);
}

.header span.info_ico {
	background-image: url("../images/info_icon.png");
}

/* Styling the login wrapper */
.login-wrapper {
	margin: 0px auto;
	width: 310px;
	height: 180px;
	padding: 10px 1px 10px 50px;
	margin-top: 150px;
}

/* Form height, margin, padding */
form ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

form ul li {
	margin: .9em 0 0 0;
	padding: 0;
}

form * {
	line-height: 1em;
}

/* field labels */
label {
	clear: left;
	text-align: right;
	width: 15%;
	font-family: arial;
	font-weight: bold;
	font-size: 15px;
	color: #808080;
}

/* the fields */
.login-wrapper input {
	font-size: .9em;
}

.login-wrapper input {
	border: 2px solid #666;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background: #fff;
}

.login-wrapper input {
	display: block;
	margin: 0;
	padding: .4em;
	width: 80%;
}

/* Place a border around focused fields */
form *:focus {
	border: 2px solid #7c412b;
	outline: none;
}

/* Display correctly filled-in fields with a green background */
.login-wrapper input:valid {
	background: #efe;
}

/* Submit buttons */
.login-wrapper .buttons {
	text-align: center;
	margin: 20px 0 0 -80px;
}

.login-wrapper input[type="submit"],.login-wrapper input[type="button"]
	{
	display: inline;
	margin: 0 5px;
	margin-left: 20px;
	width: 7em;
	padding: 10px;
	border: 2px solid #7c412b;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
	box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
	color: #fff;
	background: #ca5f34;
	font-weight: bold;
	-webkit-appearance: none;
}

.login-wrapper input[type="submit"]:hover,.login-wrapper input[type="submit"]:active,.login-wrapper input[type="button"]:hover,.login-wrapper input[type="button"]:active
	{
	cursor: pointer;
	background: rgb(27, 27, 27);
	color: #ef7d50;
}

.login-wrapper input[type="button"]:active,.login-wrapper input[type="button"]:active
	{
	background: #eee;
	-moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8) inset;
	-webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8) inset;
	box-shadow: 0 0 .5em rgba(0, 0, 0, .8) inset;
}

.sbcredentials {
	height: 30px;
	z-index: 900;
	font-family: lucida grande, tahoma, verdana, arial, sans-serif;
	font-size: 12px;
	width: 15%;
	float: right;
}

.sbcredentials .wtext {
	color: rgb(206, 196, 195);
	float: right;
	margin: 5px 5px;
	clear: both;
}

.sbcredentials .lgout {
	float: right;
	margin-right: 5%;
}

.sbcredentials .lgout a {
	color: rgb(197, 181, 178);
	cursor: pointer;
	text-decoration: none;
	text-align: center;
}

.layout {
	-moz-box-shadow: 0px 0px 10px #888;
	-o-box-shadow: 0px 0px 10px #888;
	-webkit-box-shadow: 0px 0px 10px #888;
	-moz-border-radius: 10px 10px 10px 10px;
	-o-border-radius: 10px 10px 10px 10px;
}

.main-wrapper {
	width: 100%;
	height: 100%;
	display: inline;
}

.main-wrapper .panel {
	width: 98%;
	float: left;
	margin-left: 10px;
}

.main-wrapper .panel .menu_dv,.main-wrapper .panel .menu_dv a {
	height: 30px;
	font-family: lucida grande, tahoma, verdana, arial, sans-serif;
	font-size: 11px;
	color: black;
	text-decoration: none;
	font-weight: bold;
}

.main-wrapper .panel .menu_dv .menu {
	width: 10%;
	padding-top: 10px;
	text-align: center;
	height: 20px;
	display: inline-block;
}

.main-wrapper .panel .menu_dv .menu:HOVER,.main-wrapper .panel .menu_dv .menu:HOVER a
	{
	background: rgb(122, 13, 13);
	color: white;
}

.main-wrapper .panel .content {
	margin-top: 10px;
	width: 100%;
	float: left;
	text-shadow: 1px 1px 1px #fff;
	font-family: 'Ubuntu', "Century Gothic", sans-serif;
	font-size: 12px;
}

.content .breadcrumb {
	color: #404040;
	text-shadow: 1px 1px 1px #fff;
	font-family: 'Ubuntu', "Century Gothic", sans-serif;
	font-size: 12px;
	height: 20px;
	padding: 10px;
	font-weight: bold;
	float: left;
	display: inline-block;
}

.content .breadcrumb .text {
	float: left;
}

.breadcrumb span.arrow {
	width: 4px;
	height: 7px;
	background-image: url("../images/right_marroon_arrow.gif");
	background-repeat: no-repeat;
	float: left;
	margin: 4px;
}

.content .search_box {
	clear: both;
	margin: 10px;
	width: 100%;
}

.content .search_box fieldset {
	border-radius: 8px;
	border: dotted 1px rgb(230, 230, 230);
	padding: 10px;
	display: inline-block;
	background: rgb(224, 224, 224);
	width: 96%;
}

.content .search_box legend {
	color: rgb(45, 66, 150);
	font-weight: bold;
}

.tabular {
	overflow: hidden;
	display: inline-block;
	width: auto;
	float: left;
}

.tabular span {
	float: left;
	text-align: left;
	padding: 10px;
	color: rgb(96, 98, 107);
}

.tabular input[type="text"] {
	min-width: 50%;
	background: white;
	border: 1px solid rgb(141, 141, 141);
	padding: 5px;
}

.tabular select {
	min-width: auto;
	background: white;
	border: 1px solid rgb(141, 141, 141);
	padding: 5px;
}

.uiButton {
	display: inline;
	margin: 0 1px;
	margin-left: 20px;
	padding: 10px;
	border: 1px solid rgb(3, 3, 3);
	-moz-border-radius: 1px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: #fff;
	background: rgb(199, 110, 93);
	font-weight: bold;
	-webkit-appearance: none;
	font-size: 12px;
	cursor: pointer;
}

.uiButton:HOVER {
	background: rgb(53, 126, 84);
}

.recordTable {
	margin: 10px;
	border-bottom: 1px solid #F0F0F0;
	width: 100%;
}

.recordTable th {
	text-align: left;
	border-bottom: 1px solid #F0F0F0;
	padding: 3px;
	white-space: nowrap;
	background: #BFD9BA;
	color: #444;
}

.recordTable tr {
	height: 20px;
	cursor: pointer;
	width: auto;
	margin: 10px 0px;
}

.recordTable tr.selected {
	background-color: #DDECFE;
	border: 1px solid #83AADA;
}

.recordTable td {
	padding: 1px;
	border-bottom: 1px solid #F0F0F0;
	white-space: nowrap;
	border-bottom: solid 1px #DDD;
	padding: 5px;
}

.recordTable .scrollContent {
	height: 200px;
	overflow: auto;
	width: 100%;
}

.recordTable tbody tr {
	background: rgb(241, 241, 241);
}

.recordTable tbody tr:HOVER {
	background: white;
}

.recordTable tbody tr.alt td {
	background-color: #e4ecf7;
}

.recordTable tr.over td,.recordTable tbody tr.alt.over td {
	background-color: #bcd4ec;
	color: #000;
}

.recordTable #tableHeader {
	width: 100%;
}

.buttonStrip {
	padding: 20px 5px 5px 5px;
	margin: 5px 3px 0px 5px;
	width: 100%;
}

.uiStripButton {
	background: rgb(227, 233, 235);
	font-weight: bold;
	-webkit-appearance: none;
	font-size: 12px;
	cursor: pointer;
	display: inline;
	padding: 5px;
	border: 1px solid rgb(54, 52, 52);
	-moz-border-radius: 1px;
	margin-right: 5px;
}

.buttonStrip a {
	text-decoration: none;
	width: 20px;
}

.tablez {
	width: 98%;
	overflow: hidden;
	display: inline-block;
}

.formTable {
	border: dotted 1px rgb(204, 192, 192);;
	width: 98%;
	margin: 5px;
	padding: 5px;
}

.formTable p {
	display: block;
	margin: 5px;
}

.formTable input[type="text"] {
	width: 30%;
	margin-left: 5px;
	background: white;
	border: 1px solid rgb(148, 148, 148);
	padding: 5px;
}

.pagination {
	float: right;
	margin-right: 3%;
	display: inline-block;
}

.pagination a {
	text-decoration: none;
}

.pagination .nxt {
	background: url("../images/nxt_icon.png");
	background-repeat: no-repeat;
	padding: 0px 5px 0px 10px;
}

.pagination span.prv {
	background: url("../images/prv_icon.png");
	background-repeat: no-repeat;
	padding: 0px 5px 0px 10px;
}

span.enabled {
	background: url("../images/enabled.png");
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	padding-left: 16px;
}

span.disabled {
	background: url("../images/disabled.png");
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	padding-left: 16px;
}

.main-wrapper .panel .xmlpanel {
	margin: 10px;
}

.footer {
	color: rgb(150, 142, 142);
	margin: 10px;
	text-shadow: 1px 1px 1px #fff;
	font-family: 'Ubuntu', "Century Gothic", sans-serif;
	font-size: 12px;
	padding-top: 5px;
	float: left;
}

.panel .cpanel {
	width: 98%;
	margin: 10px;
	float: left;
}

.panel .cpanel .cpanel_row {
	display: inline;
}

.panel .cpanel_row  .cpanel_item {
	display: inline-block;
	padding: 5px;
	background: rgb(238, 229, 229);
	margin-right: 10px;
}

.panel .cpanel_row  .cpanel_item:HOVER {
	background: rgb(226, 219, 219);
}

.panel .cpanel_row  .cpanel_item span.user_icon {
	background: url("../images/cpanel_user_icon.png");
	background-repeat: no-repeat;
	width: 80px;
	height: 80px;
	float: left;
}
.panel .cpanel_row  .cpanel_item span.seeding_icon {
	background: url("../images/cpanel_seeding_icon.png");
	background-repeat: no-repeat;
	width: 80px;
	height: 80px;
	float: left;
}
.panel .cpanel_row  .cpanel_item span#text {
	display: run-in;
	text-decoration: none;
	text-align: center;
}
span {
	vertical-align: top;
}